#menuPrincipal {
    background-color: #75CDDB;
    border-color: chocolate
}

#contenido {
    background-color: #DCDBA8;
    border-color: black;
}

body {
    background-color: #C9DBBA;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: black;
}

p {
    color: black;
}

#asi {
    background-color: #DCDBA8;
}

nav a:link {
    color: #000;
}

nav a:visited {
    color: #006;
}

nav a:focus {
    color: #f00;
}

nav a:hover {
    color: #ff0;
}

#mensaje {
    background-color: #fff;
}

#nombre, #email {
    background-color: white;
}

#button {
    color: #000;
}

#tbl {
    border-color: #000;
    background-color: #fff;
}

th, td {
    border-color: #000;
}