#menuPrincipal {
    background-color: #F5CDA7;
    border-color: chocolate
}

#contenido {
    background-color: #C9DBDA;
    border-color: black;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: black;
}

#asi{
    background-color: #DCDBA8;
}