img.logo {
    width: 1300px;
    height: 300px;
}

img {
    width: 400px;
    height: 300px;
}

img.larga {
    width: 1000px;
    height: 300px;
}

iframe.video {
    width: 600px;
    height: 355px;
}