label {
    margin-top: 20px;
}

form {
    margin: 0 auto;
    width: 400px;
    float: left;
}

#nombre, #email {
    width: 380px;
    height: 27px;
}

#mensaje {
    width: 380px;
    height: 150px;
}

#button {
    width: 100px;
    height: 35px;
}