#menuPrincipal {
    width: 20%;
    border: 3px double;
    line-height: 50px;
    border-radius: 5px;
    float: left;
}

#contenido {
    width: 75%;
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
    border: 2px solid;
    float: left;
}

#asi {
    width: 15%;
    margin-left: 5px;
    float: left;
}