#menuPrincipal {
    width: 20%;
    border: 3px chocolate double;
    float: left;
}

#contenido {
    width: 75%;
    background-color: #75DBCD;
    margin-left: 10px;
    padding: 5px 20px 5px 20px;
    border: 2px black solid;
    float: left;
}